In [2]:
#Se procede a instalar la libreria pandas openpyxl

In [3]:
!pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\madai\appdata\roaming\python\python311\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\madai\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\icde-2024-python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [6]:
datos1_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level1.xlsx')
datos2_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level2.xlsx')
datos3_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level3.xlsx')
datos4_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level4.xlsx')

In [7]:
# Mostrar un resumen de los datos cargados de los niveles
print("Vista previa de Nivel 1:\n", datos1_df.head())
print("Vista previa de Nivel 2:\n", datos2_df.head())
print("Vista previa de Nivel 3:\n", datos3_df.head())
print("Vista previa de Nivel 4:\n", datos4_df.head())

Vista previa de Nivel 1:
   Unnamed: 0 Table 1. Human Development Index and its components   \
0        NaN                                                NaN
1        NaN                                                NaN
2        NaN                                                NaN
3   HDI rank                                            Country
4        NaN                                                NaN

                       Unnamed: 2  Unnamed: 3                Unnamed: 4  \
0                             NaN         NaN                       NaN
1                             NaN         NaN                      SDG3
2                             NaN         NaN                       NaN
3  Human Development Index (HDI)          NaN  Life expectancy at birth
4                           Value         NaN                   (years)

  Unnamed: 5                   Unnamed: 6 Unnamed: 7               Unnamed: 8  \
0        NaN                          NaN        NaN                      NaN
1        NaN                       SDG4.3        NaN                   SDG4.4
2        NaN                          NaN        NaN                      NaN
3        NaN  Expected years of schooling        NaN  Mean years of schooling
4        NaN                      (years)        NaN                  (years)

  Unnamed: 9                             Unnamed: 10 Unnamed: 11  \
0        NaN                                     NaN         NaN
1        NaN                                  SDG8.5         NaN
2        NaN                                     NaN         NaN
3        NaN  Gross national income (GNI) per capita         NaN
4        NaN                            (2017 PPP $)         NaN

                          Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0                                 NaN         NaN         NaN         NaN
1                                 NaN         NaN         NaN         NaN
2                                 NaN         NaN         NaN         NaN
3  GNI per capita rank minus HDI rank         NaN    HDI rank         NaN
4                                 NaN         NaN         NaN         NaN
Vista previa de Nivel 2:
    HDI rank                 Country  Human Development Index (HDI)   \
0       NaN                     NaN                        2021.000
1       NaN  HIGH HUMAN DEVELOPMENT                             NaN
2      67.0                 Albania                           0.796
3      68.0                Bulgaria                           0.795
4      68.0                 Grenada                           0.795

   Life expectancy at birth  Expected years of schooling  \
0                 2021.0000                   2021.00000
1                       NaN                          NaN
2                   76.4626                     14.44800
3                   71.7980                     13.89729
4                   74.9362                     18.66202

   Mean years of schooling Unnamed: 6  Gross national income (GNI) per capita  \
0              2021.000000          a                              2021.00000
1                      NaN        NaN                                     NaN
2                11.286455          e                             14131.11039
3                11.413180        NaN                             23078.95595
4                 9.032104          l                             13483.57740

  Unnamed: 8  GNI per capita rank minus HDI rank Unnamed: 10  HDI rank.1
0        NaN                              2021.0           b      2020.0
1        NaN                                 NaN         NaN         NaN
2        NaN                                17.0         NaN        68.0
3        NaN                                -8.0         NaN        64.0
4        NaN                                18.0         NaN        70.0
Vista previa de Nivel 3:
    HDI rank                           Country  Human Development Index (HDI)   \
0       NaN                               NaN                        2021.000
1       NaN          MEDIUM HUMAN DEVELOPMENT                             NaN
2     116.0                       Philippines                           0.699
3     117.0                          Botswana                           0.693
4     118.0  Bolivia (Plurinational State of)                           0.692

   Unnamed: 3  Life expectancy at birth  Unnamed: 5  \
0         NaN                 2021.0000         NaN
1         NaN                       NaN         NaN
2         NaN                   69.2664         NaN
3         NaN                   61.1409         NaN
4         NaN                   63.6304         NaN

   Expected years of schooling Unnamed: 7  Mean years of schooling Unnamed: 9  \
0                  2021.000000          a               2021.00000          a
1                          NaN        NaN                      NaN        NaN
2                    13.126570        NaN                  8.96910        NaN
3                    12.265138          e                 10.34000        NaN
4                    14.946971        NaN                  9.82775        NaN

   Gross national income (GNI) per capita Unnamed: 11  \
0                             2021.000000         NaN
1                                     NaN         NaN
2                             8920.428468         NaN
3                            16198.318410         NaN
4                             8111.190194         NaN

   GNI per capita rank minus HDI rank Unnamed: 13  HDI rank.1
0                              2021.0           b      2020.0
1                                 NaN         NaN         NaN
2                                -3.0         NaN       113.0
3                               -43.0         NaN       110.0
4                                 0.0         NaN       119.0
Vista previa de Nivel 4:
    HDI rank                        Country             Unnamed: 2  \
0       160  Tanzania (United Republic of)  LOW HUMAN DEVELOPMENT
1       161                       Pakistan  LOW HUMAN DEVELOPMENT
2       162                           Togo  LOW HUMAN DEVELOPMENT
3       163                          Haiti  LOW HUMAN DEVELOPMENT
4       163                        Nigeria  LOW HUMAN DEVELOPMENT

   Human Development Index (HDI)   Life expectancy at birth  \
0                           0.549                   66.2007
1                           0.544                   66.0979
2                           0.539                   61.6194
3                           0.535                   63.1924
4                           0.535                   52.6760

   Expected years of schooling  Mean years of schooling  \
0                     9.221490                 6.372899
1                     8.658350                 4.536330
2                    12.950494                 5.016807
3                     9.700000                 5.554000
4                    10.127584                 7.181074

   Gross national income (GNI) per capita  GNI per capita rank minus HDI rank  \
0                             2664.329096                                   7
1                             4623.705430                                 -19
2                             2166.619062                                  12
3                             2847.500746                                   2
4                             4790.284425                                 -22

   le
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN

In [8]:
# Lectura del archivo de códigos de países
paises_codigos_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/countryCODES.xlsx')
#Mostrar los datos
print("Códigos de Países:\n", paises_codigos_df.head())

Códigos de Países:
                Country                            Officialstatename  \
0          AFGHANISTAN          The Islamic Republic of Afghanistan
1              ALBANIA                      The Republic of Albania
2              ALGERIA  The People's Democratic Republic of Algeria
3               ANGOLA                       The Republic of Angola
4  ANTIGUA AND BARBUDA                          Antigua and Barbuda

  InternetccTLD iso2 iso3
0           .af   AF  AFG
1           .al   AL  ALB
2           .dz   DZ  DZA
3           .ao   AO  AGO
4           .ag   AG  ATG

In [12]:
# Proceso de limpieza del archivo Nivel1
datos1_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level1.xlsx', header=4)
# Eliminar las filas 1 y 2
datos1_limpios = datos1_df.drop([0, 1])
# Eliminar columnas que no tienen nombre (sin encabezados)
datos1_limpios = datos1_limpios.loc[:, ~datos1_limpios.columns.str.contains('^Unnamed')]
datos1_limpios.reset_index(drop=True, inplace=True)
print("Nivel 1 - Datos Limpios:\n", datos1_limpios.head())

Nivel 1 - Datos Limpios:
    HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1
0                                 5.0         3.0
1                                 6.0         1.0
2                                11.0         2.0
3                                 6.0         4.0
4                                18.0         5.0

In [14]:
# Proceso de limpieza del archivo Nivel2
datos2_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level2.xlsx', header=0)
# Eliminar las filas 2 y 3
datos2_limpios = datos2_df.drop([0, 1])
# Eliminar columnas que no tienen nombre (sin encabezados)
datos2_limpios = datos2_limpios.loc[:, ~datos2_limpios.columns.str.contains('^Unnamed')]
datos2_limpios.reset_index(drop=True, inplace=True)
print("Nivel 2 - Datos Limpios:\n", datos1_limpios.head())

Nivel 2 - Datos Limpios:
    HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1
0                                 5.0         3.0
1                                 6.0         1.0
2                                11.0         2.0
3                                 6.0         4.0
4                                18.0         5.0

In [17]:
# Proceso de limpieza del archivo Nivel3
datos3_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level3.xlsx', header=0)
# Eliminar las filas 2 y 3
datos3_limpios = datos3_df.drop([0, 1])
datos3_limpios = datos3_limpios.loc[:, ~datos3_limpios.columns.str.contains('^Unnamed')]
# Reiniciar los índices después de eliminar las filas
datos3_limpios.reset_index(drop=True, inplace=True)
print("Nivel 3 - Datos Limpios:\n", datos3_limpios.head())

Nivel 3 - Datos Limpios:
    HDI rank                             Country  \
0     116.0                         Philippines
1     117.0                            Botswana
2     118.0    Bolivia (Plurinational State of)
3     118.0                          Kyrgyzstan
4     120.0  Venezuela (Bolivarian Republic of)

   Human Development Index (HDI)   Life expectancy at birth  \
0                           0.699                   69.2664
1                           0.693                   61.1409
2                           0.692                   63.6304
3                           0.692                   69.9774
4                           0.691                   70.5536

   Expected years of schooling  Mean years of schooling  \
0                    13.126570                 8.969100
1                    12.265138                10.340000
2                    14.946971                 9.827750
3                    13.195300                11.374106
4                    12.816080                11.107277

   Gross national income (GNI) per capita  GNI per capita rank minus HDI rank  \
0                             8920.428468                                -3.0
1                            16198.318410                               -43.0
2                             8111.190194                                 0.0
3                             4566.303831                                26.0
4                             4810.882621                                20.0

   HDI rank.1
0       113.0
1       110.0
2       119.0
3       121.0
4       118.0

In [18]:
# Proceso de limpieza del archivo Nivel3
datos4_df = pd.read_excel('C:/Users/Madai/Documents/GitHub/PC3/appendData/level4.xlsx', header=0)
#Se elimina las columnas completamente vacias
datos4_df.dropna(how='all', axis=1, inplace=True)
datos4_limpios = datos4_df.loc[:, ~datos4_df.columns.str.contains('^Unnamed')]
print("Nivel 4 - Datos Limpios:\n", datos4_limpios.head())

Nivel 4 - Datos Limpios:
    HDI rank                        Country  Human Development Index (HDI)   \
0       160  Tanzania (United Republic of)                           0.549
1       161                       Pakistan                           0.544
2       162                           Togo                           0.539
3       163                          Haiti                           0.535
4       163                        Nigeria                           0.535

   Life expectancy at birth  Expected years of schooling  \
0                   66.2007                     9.221490
1                   66.0979                     8.658350
2                   61.6194                    12.950494
3                   63.1924                     9.700000
4                   52.6760                    10.127584

   Mean years of schooling  Gross national income (GNI) per capita  \
0                 6.372899                             2664.329096
1                 4.536330                             4623.705430
2                 5.016807                             2166.619062
3                 5.554000                             2847.500746
4                 7.181074                             4790.284425

   GNI per capita rank minus HDI rank
0                                   7
1                                 -19
2                                  12
3                                   2
4                                 -22

In [19]:
# Combinación de todos los DataFrames en uno solo
datos_combinados = pd.concat([datos1_limpios, datos2_limpios, datos3_limpios, datos4_limpios], ignore_index=True)
print(datos_combinados.head())

   HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1
0                                 5.0         3.0
1                                 6.0         1.0
2                                11.0         2.0
3                                 6.0         4.0
4                                18.0         5.0

In [21]:
# Combinar con el archivo de códigos de países
# Realizamos el merge con los datos dados usando la columna 'Country'
datos_finales = pd.merge(datos_combinados, paises_codigos_df, on='Country', how='left')
print(datos_finales.head())

   HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1 Officialstatename  \
0                                 5.0         3.0               NaN
1                                 6.0         1.0               NaN
2                                11.0         2.0               NaN
3                                 6.0         4.0               NaN
4                                18.0         5.0               NaN

  InternetccTLD iso2 iso3
0           NaN  NaN  NaN
1           NaN  NaN  NaN
2           NaN  NaN  NaN
3           NaN  NaN  NaN
4           NaN  NaN  NaN

In [25]:
# Combinamos el conjunto de datos principal con los códigos de países utilizando la columna 'Country'
datos_finales = pd.merge(datos_combinados, paises_codigos_df, on='Country', how='left')

# Garantizamos que la columna 'NombreOficialEstado' contenga los valores originales del archivo Excel
if 'NombreOficialEstado_y' in datos_finales.columns:
    datos_finales['NombreOficialEstado'] = datos_finales['NombreOficialEstado'].fillna(datos_finales['NombreOficialEstado_y'])

# Eliminamos la columna redundante 'NombreOficialEstado_y'
datos_finales.drop(columns=['NombreOficialEstado_y'], inplace=True, errors='ignore')

# Mostramos las primeras filas del DataFrame final para verificar el resultado
print(datos_finales.head())

   HDI rank                 Country Human Development Index (HDI)   \
0       1.0             Switzerland                          0.962
1       2.0                  Norway                          0.961
2       3.0                 Iceland                          0.959
3       4.0  Hong Kong, China (SAR)                          0.952
4       5.0               Australia                          0.951

  Life expectancy at birth Expected years of schooling  \
0                  83.9872                   16.500299
1                  83.2339                     18.1852
2                  82.6782                   19.163059
3                  85.4734                    17.27817
4                  84.5265                    21.05459

  Mean years of schooling Gross national income (GNI) per capita  \
0                13.85966                            66933.00454
1                13.00363                            64660.10622
2                13.76717                            55782.04981
3                12.22621                             62606.8454
4                12.72682                            49238.43335

   GNI per capita rank minus HDI rank  HDI rank.1 Officialstatename  \
0                                 5.0         3.0               NaN
1                                 6.0         1.0               NaN
2                                11.0         2.0               NaN
3                                 6.0         4.0               NaN
4                                18.0         5.0               NaN

  InternetccTLD iso2 iso3
0           NaN  NaN  NaN
1           NaN  NaN  NaN
2           NaN  NaN  NaN
3           NaN  NaN  NaN
4           NaN  NaN  NaN

In [26]:
import pandas as pd

# Cargamos el archivo CSV que contiene los datos de fallecidos
ruta_fallecidos = 'C:/Users/Madai/Documents/GitHub/PC3/fallecidosCOVID.csv'
datos_covid = pd.read_csv(ruta_fallecidos, sep=';')

# Convertimos la columna 'FECHA_FALLECIMIENTO' a un formato de fecha
datos_covid['FECHA_FALLECIMIENTO'] = pd.to_datetime(datos_covid['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# Agrupamos los datos por mes y año, contando el número de fallecidos en cada periodo
fallecidos_mensuales = datos_covid.groupby(datos_covid['FECHA_FALLECIMIENTO'].dt.to_period('M')).size().reset_index(name='Total_Fallecidos')

# Mostramos el reporte mensual de fallecidos en el formato deseado
for i, fila in fallecidos_mensuales.iterrows():
    print(f"Mes y Año: {fila['FECHA_FALLECIMIENTO']}, Total Fallecidos: {fila['Total_Fallecidos']}")

Mes y Año: 2020-03, Total Fallecidos: 181
Mes y Año: 2020-04, Total Fallecidos: 5134
Mes y Año: 2020-05, Total Fallecidos: 16363
Mes y Año: 2020-06, Total Fallecidos: 17462
Mes y Año: 2020-07, Total Fallecidos: 18501
Mes y Año: 2020-08, Total Fallecidos: 17668
Mes y Año: 2020-09, Total Fallecidos: 8437
Mes y Año: 2020-10, Total Fallecidos: 4471
Mes y Año: 2020-11, Total Fallecidos: 3229
Mes y Año: 2020-12, Total Fallecidos: 3885
Mes y Año: 2021-01, Total Fallecidos: 11175
Mes y Año: 2021-02, Total Fallecidos: 18645
Mes y Año: 2021-03, Total Fallecidos: 20691
Mes y Año: 2021-04, Total Fallecidos: 23110
Mes y Año: 2021-05, Total Fallecidos: 16692
Mes y Año: 2021-06, Total Fallecidos: 7722
Mes y Año: 2021-07, Total Fallecidos: 3481
Mes y Año: 2021-08, Total Fallecidos: 1850
Mes y Año: 2021-09, Total Fallecidos: 1140
Mes y Año: 2021-10, Total Fallecidos: 1066
Mes y Año: 2021-11, Total Fallecidos: 1107
Mes y Año: 2021-12, Total Fallecidos: 1283
Mes y Año: 2022-01, Total Fallecidos: 3562
Mes y Año: 2022-02, Total Fallecidos: 3503
Mes y Año: 2022-03, Total Fallecidos: 1299
Mes y Año: 2022-04, Total Fallecidos: 741
Mes y Año: 2022-05, Total Fallecidos: 625
Mes y Año: 2022-06, Total Fallecidos: 542
Mes y Año: 2022-07, Total Fallecidos: 1025
Mes y Año: 2022-08, Total Fallecidos: 1429
Mes y Año: 2022-09, Total Fallecidos: 892
Mes y Año: 2022-10, Total Fallecidos: 429
Mes y Año: 2022-11, Total Fallecidos: 272
Mes y Año: 2022-12, Total Fallecidos: 423
Mes y Año: 2023-01, Total Fallecidos: 371
Mes y Año: 2023-02, Total Fallecidos: 287
Mes y Año: 2023-03, Total Fallecidos: 295
Mes y Año: 2023-04, Total Fallecidos: 337
Mes y Año: 2023-05, Total Fallecidos: 323
Mes y Año: 2023-06, Total Fallecidos: 291
Mes y Año: 2023-07, Total Fallecidos: 258
Mes y Año: 2023-08, Total Fallecidos: 249
Mes y Año: 2023-09, Total Fallecidos: 60
Mes y Año: 2023-10, Total Fallecidos: 26
Mes y Año: 2023-11, Total Fallecidos: 33
Mes y Año: 2023-12, Total Fallecidos: 40
Mes y Año: 2024-01, Total Fallecidos: 249
Mes y Año: 2024-02, Total Fallecidos: 62
Mes y Año: 2024-03, Total Fallecidos: 2

In [28]:
import pandas as pd

# Cargamos el archivo CSV de datos de fallecidos
ruta_fallecidos = 'C:/Users/Madai/Documents/GitHub/PC3/fallecidosCOVID.csv'
datos_covid = pd.read_csv(ruta_fallecidos, sep=';')

# Convertimos la columna de fecha de fallecimiento a formato datetime
datos_covid['FECHA_FALLECIMIENTO'] = pd.to_datetime(datos_covid['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# Eliminamos espacios en blanco al inicio y al final en la clasificación de muerte
datos_covid['CLASIFICACION_DEF'] = datos_covid['CLASIFICACION_DEF'].str.strip()

# Agrupamos los datos por mes y tipo de muerte, contando el número de fallecidos
reporte_mensual = datos_covid.groupby([datos_covid['FECHA_FALLECIMIENTO'].dt.to_period('M'), 'CLASIFICACION_DEF']).size().unstack(fill_value=0)

# Mostramos el informe de fallecidos por mes y clasificación de muerte
print(reporte_mensual)

CLASIFICACION_DEF    Criterio SINADEF  Criterio clínico  \
FECHA_FALLECIMIENTO
2020-03                            35                52
2020-04                          1793               541
2020-05                          6826              1152
2020-06                          5722               670
2020-07                          5012               609
2020-08                          4589               611
2020-09                          1984               475
2020-10                          1091               463
2020-11                           704               462
2020-12                           802               547
2021-01                          2190               514
2021-02                          4993               501
2021-03                          6100               525
2021-04                          7450               748
2021-05                          5225               628
2021-06                          2723               116
2021-07                          1025               113
2021-08                           578                75
2021-09                           554                12
2021-10                           469                12
2021-11                           441                16
2021-12                           585                 8
2022-01                          1894                22
2022-02                          1604                20
2022-03                           352                 6
2022-04                           131                 9
2022-05                            85                 3
2022-06                            81                 3
2022-07                           299                 3
2022-08                           405                 6
2022-09                           154                12
2022-10                            53                59
2022-11                            23                 0
2022-12                            66                 0
2023-01                            34                 1
2023-02                             4                 0
2023-03                             6                 0
2023-04                            17                 0
2023-05                             6                 0
2023-06                             2                 0
2023-07                             3                 0
2023-08                             7                 0
2023-09                             7                 0
2023-10                             8                 0
2023-11                            13                 0
2023-12                            17                 0
2024-01                            35                 0
2024-02                             1                 0
2024-03                             0                 0

CLASIFICACION_DEF    Criterio investigación Epidemiológica  \
FECHA_FALLECIMIENTO
2020-03                                                 25
2020-04                                                498
2020-05                                               1427
2020-06                                               1706
2020-07                                               1512
2020-08                                               1456
2020-09                                                755
2020-10                                                469
2020-11                                                307
2020-12                                                171
2021-01                                                323
2021-02                                                465
2021-03                                                517
2021-04                                                591
2021-05                                                349
2021-06                                                123
2021-07                                                 67
2021-08                                                 22
2021-09                                                  0
2021-10                                                  0
2021-11                                                  0
2021-12                                                  0
2022-01                                                  0
2022-02                                                  0
2022-03                                                  0
2022-04                                                  0
2022-05                                                  0
2022-06                                                  0
2022-07                                                  0
2022-08                                                  0
2022-09                                                  0
2022-10                                                  0
2022-11                                                  0
2022-12                                                  0
2023-01                                                  0
2023-02                                                  0
2023-03                                                  0
2023-04                                                  0
2023-05                                                  0
2023-06                                                  0
2023-07                                                  0
2023-08                                                  0
2023-09                                                  0
2023-10                                                  0
2023-11                                                  0
2023-12                                                  0
2024-01                                                  0
2024-02                                                  0
2024-03                                                  0

CLASIFICACION_DEF    Criterio nexo epidemiológico  Criterio radiológico  \
FECHA_FALLECIMIENTO
2020-03                                         2                     7
2020-04                                        68                   182
2020-05                                       203                   480
2020-06                                       251                   391
2020-07                                       262                   415
2020-08                                       208                   534
2020-09                                       105                   233
2020-10                                        50                   172
2020-11                                        37                   186
2020-12                                        41                   179
2021-01                                       107                   434
2021-02                                       150                   556
2021-03                                       229                   456
2021-04                                       246                   363
2021-05                                       155                   283
2021-06                                        51                   138
2021-07                                        35                    68
2021-08                                        15                    36
2021-09                                         0                     0
2021-10                                         0                     0
2021-11                                         0                     0
2021-12                                         0                     0
2022-01                                         0                     0
2022-02                                         0                     0
2022-03                                         0                     0
2022-04                                         0                     0
2022-05                                         0                     0
2022-06                                         0                     0
2022-07                                         0                     0
2022-08                                         0                     0
2022-09                                         0                     0
2022-10                                         0                     0
2022-11                                         0                     0
2022-12                                         0                     0
2023-01                                         0                     0
2023-02                                         0                     0
2023-03                                         0                     0
2023-04                                         0                     0
2023-05                                         0                     0
2023-06                                         0                     0
2023-07                                         0                     0
2023-08                                         0                     0
2023-09                                         0                     0
2023-10                                         0                     0
2023-11                                         0                     0
2023-12                                         0                     0
2024-01                                         0                     0
2024-02                                         0                     0
2024-03                                         0                     0

CLASIFICACION_DEF    Criterio serológico  Criterio virológico  NotiCovid  \
FECHA_FALLECIMIENTO
2020-03                                2                   58          0
2020-04                              778                 1274          0
2020-05                             3233                 3042          0
2020-06                             5605                 3117          0
2020-07                             7501                 3190          0
2020-08                             7400                 2870          0
2020-09                             3483                 1402          0
2020-10                             1417                  809          0
2020-11                              867                  666          0
2020-12                             1047                 1098          0
2021-01                             2448                 5159          0
2021-02                             2539                 9441          0
2021-03                             1703                11161          0
2021-04                             1488                12224          0
2021-05                             1175                 8877          0
2021-06                              746                 3825          0
2021-07                              521                 1652          0
2021-08                              287                  837          0
2021-09                              190                  384          0
2021-10                              148                  437          0
2021-11                              157                  493          0
2021-12                              133                  557          0
2022-01                               41                 1605          0
2022-02                                1                 1878          0
2022-03                                0                  941          0
2022-04                                0                  601          0
2022-05                                0                  537          0
2022-06                                0                  458          0
2022-07                                0                  723          0
2022-08                                0                 1018          0
2022-09                                0                  726          0
2022-10                                0                  317          0
2022-11                                0                  249          0
2022-12                                0                  357          0
2023-01                                0                  336          0
2023-02                                0                  283          0
2023-03                                0                  289          0
2023-04                                0                  320          0
2023-05                                0                  317          0
2023-06                                0                  289          0
2023-07                                0                  255          0
2023-08                                0                  242          0
2023-09                                0                   53          0
2023-10                                0                   18          0
2023-11                                0                   20          0
2023-12                                0                   22          1
2024-01                                0                   83        115
2024-02                                0                   45         16
2024-03                                0                    2          0

CLASIFICACION_DEF    sinadef
FECHA_FALLECIMIENTO
2020-03                    0
2020-04                    0
2020-05                    0
2020-06                    0
2020-07                    0
2020-08                    0
2020-09                    0
2020-10                    0
2020-11                    0
2020-12                    0
2021-01                    0
2021-02                    0
2021-03                    0
2021-04                    0
2021-05                    0
2021-06                    0
2021-07                    0
2021-08                    0
2021-09                    0
2021-10                    0
2021-11                    0
2021-12                    0
2022-01                    0
2022-02                    0
2022-03                    0
2022-04                    0
2022-05                    0
2022-06                    0
2022-07                    0
2022-08                    0
2022-09                    0
2022-10                    0
2022-11                    0
2022-12                    0
2023-01                    0
2023-02                    0
2023-03                    0
2023-04                    0
2023-05                    0
2023-06                    0
2023-07                    0
2023-08                    0
2023-09                    0
2023-10                    0
2023-11                    0
2023-12                    0
2024-01                   16
2024-02                    0
2024-03                    0